---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>TodoMVC once more</title>
    <link rel="icon" href="/favicon.svg" />
  </head>
  <body>
    <h1>Hello</h1>
  </body>
</html>
